{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

  {% set vars = {'var_session': session_started, 'carrito': cart_empty, 'num_products': quantity_products } %}
  {% include 'menu/index.html.twig' with vars %}
  
  {% if checkout_done %}
  <div class="pop-up-checkout">
    <div class="box-pop-up">
      <p>Compra realizada correctamente</p>
      <a class="standard-link" href="{{ path( 'cart_remove_data' ) }}">Volver</a>
    </div>
  </div>
  {% endif %}
  
  <section class="sn-container cart-section-container">
    <div class="cart-wrapper">
      <h2 class="h2 title-cart">Carrito</h2>
      {% set total = 0 %}
      {% for product in details_cart %}
      {% set total_single = product['precio'] * product['cantidad'] %}
      {% set total = total + total_single %}
      <div class="single-line-cart">
        <div class="name-img">
          <img class="img-product" src="{{ asset( product['url_img'] ) }}">
          <p class="name-product">{{ product['product_name'] }}</p>
        </div>
        <div class="price-icon">
          <p class="price">{{ product['precio'] }} x {{ product['cantidad'] }} = {{ total_single }} €</p>
          <a class="link-delete" href="{{ product['slug'] ~ product['id_pro'] }}">
            <img class="icon-delete" src="{{ asset( 'images/icon-delete.svg' ) }}">
          </a>
        </div>
      </div>
      {% endfor %}

      {% if details_cart is not empty %}
      <div class="total-bill">Total: <span>{{ total }} €</span></div>
      <div class="form-checkout">
        <a href="{{ url( 'app_tienda' ) }}" class="back-to-shop" >Seguir comprando</a>
        <form action="{{ path('cart_checkout') }}" method="POST">
          <input class="btn-checkout" type="submit" value="Realizar compra">
        </form>
      </div>
      {% endif %}

      {% if details_cart is empty %}
        <p class="empty-cart">El carrito esta vacío.</p>
      {% endif %}
    </div>
      {# {{ dump(details_cart) }}
      {{ dump(session) }} #}
  </section>

  {% include 'homepage/info.html.twig' %}

{% endblock %}
