{% extends 'base.html.twig' %}

{% block title %}Panel de usuario{% endblock %}

{% block body %}

  {% set vars = {'var_session': session_started, 'carrito': cart_empty, 'num_products': quantity_products } %}
  {% include 'menu/index.html.twig' with vars %}  
  <section class="sn-container panel-user-container">
    <div class="panel-user-wrapper">
      <div class="menu-user-container">
        <a class="link-panel-user" id="info-user" href="#">Información de usuario</a>
        <a class="link-panel-user" id="order-user" href="#">Pedidos</a>
        <a class="link-panel-user" href="{{ url('app_logout') }}">Cerrar sesión</a>
      </div>
      <div class="content-panel-user">

        <div class="info-user-content ">
          <h2 class="h3">Información de usuario</h2>
          <form action="{{ path('app_panelusuario_modify') }}" method="post">
            <div class="form-group">
              <label>Dirección</label>
              <input type="text" name="address" value="{{ info_user[0]['direccion'] }}" required>
            </div>
            <div class="form-group">
              <label>CP</label>
              <input type="text" name="cp" value="{{ info_user[0]['cp'] }}" required>
            </div>
            <div class="form-group">
              <label>Ciudad</label>
              <input type="text" name="city" value="{{ info_user[0]['ciudad'] }}" required>
            </div>
            <div class="form-group">
              <label>Country</label>
              <input type="text" name="country" value="{{ info_user[0]['pais'] }}" required>
            </div>
            <div class="form-group">
              <input type="hidden" name='id' value="{{ info_user[0]['id'] }}">
              <input type="submit" class="btn-form" value="Modificar usuario">
            </div>
          </form>
        </div>

        <div class="orders-info active">
          <h2 class="h3">Información de pedidos</h2>
          {% for key, order in user_orders %}
            <div class="order-line">
              <div class="date-send">
                <p class="date">{{ key + 1 }} # {{ order[0]['fecha'] }}</p>
                <p class="send-option {{ (order[0]['enviado']) ? 'send' : 'no-send' }}">{{ (order[0]['enviado']) ? 'Enviado' : 'No enviado' }}</p>
              </div>
              {% set total = 0 %}
              {% for product in user_orders[key] %}
                <div class="product-line">
                  <div class="name">
                    <p class="p-name">{{ product['nombre'] }}</p>
                  </div>
                  <div class="price">
                    <span>{{ product['precio'] }} € x {{ product['unidades'] }}</span>
                  </div>
                </div>
                {% set total = total + ( product['precio'] * product['unidades'] ) %}
              {% endfor %}
              <div class="total">
                <p>Total: {{ total }} €</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block javascripts %}
  <script>

    $( '#info-user' ).on( 'click', function () { 
      if( !$( '.info-user-content' ).hasClass( 'active') ){
        $( '.info-user-content' ).toggleClass('active')
        $( '.orders-info' ).toggleClass('active')
      }
    });

    $( '#order-user' ).on( 'click', function () { 
      if( !$( '.orders-info' ).hasClass( 'active') ){
        $( '.info-user-content' ).toggleClass('active')
        $( '.orders-info' ).toggleClass('active')
      }
    });

  </script>
{% endblock %}
