{% extends 'base.html.twig' %}

{% block title %}Sneakers{% endblock %}

{% block body %}

  {% set vars = {'var_session': session_started, 'carrito': cart_empty, 'num_products': quantity_products } %}
  {% include 'menu/index.html.twig' with vars %}

  <section class="section-hero">
    <div class="swiper swiper-hero">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper wrapper-hero">
        <div class="swiper-slide slide-hero">
          <img class="slider-img" src="{{ asset( 'images/hero/hero-basket.jpg' ) }}" alt="Imagen1">
          <div class="overlay"></div>
        </div>
        <div class="swiper-slide slide-hero">
          <img class="slider-img" src="{{ asset( 'images/hero/hero-nike.jpg' ) }}" alt="Imagen2">
          <div class="overlay"></div>
        </div>
        <div class="swiper-slide slide-hero">
          <img class="slider-img" src="{{ asset( 'images/hero/hero-shoes.jpg' ) }}" alt="Imagen3">
          <div class="overlay"></div>
        </div>
        <div class="swiper-slide slide-hero">
          <img class="slider-img" src="{{ asset( 'images/hero/hero-nike2.jpg' ) }}" alt="Imagen4">
          <div class="overlay"></div>
        </div>
        <div class="swiper-slide slide-hero">
          <img class="slider-img" src="{{ asset( 'images/hero/hero-shoes2.jpg' ) }}" alt="Imagen4">
          <div class="overlay"></div>
        </div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="arrow-container">
        {# <div class="swiper-button-prev swiper-next-hero"><img class="img-prev" src="{{ asset('images/icon-previous.svg') }}" alt="Prev imagen"></div> #}
        {# <div class="swiper-button-next swiper-prev-hero"><img class="img-next" src="{{ asset('images/icon-next.svg') }}" alt="Prev imagen"></div> #}
        <a class="anchor" data-content="go-to-content">
          <img class="img-go-down" src="{{ asset('images/arrow-down-solid.svg') }}" alt="Ancla">
        </a>
      </div>

    </div>
    <div id="go-to-content"></div>    
  </section>

  <section class="sn-container pre-order">
    <div class="order-container">
      <h2 class="h2 f-orange b-g-blue">Mikakus sneakers</h2>
      <p class="description">Las New Boom Génesis son una reinterpretación de nuestras emblemáticas zapatillas multicolor: las Boom. Pensadas por y para personas con gran personalidad, se inspiran en las zapatillas de estilo chunky con especial énfasis en el máximo confort.</p>
      <a href="#" class="standard-link link-reserva">Reserva</a>
    </div>
    <div class="img-container" style="background-image: url( {{ asset( 'images/new/new-product-1.jpg' ) }} );"></div>
  </section>

  <section class="sn-container pre-order inverse">
    <div class="order-container">
      <h2 class="h2 f-orange b-g-blue">Giannis immortality2</h2>
      <p class="description">Pensada para personas con gran personalidad. Con una suela oversized de la casa Vibram de 3,5cm y materiales como el SEAQUAL YARN son un claro ejemplo de la moda sostenible del futuro. Además incorpora una plantilla 100% reciclada. El sistema de cordones está inspirado en las zapatillas de trail running modernas para otorgarle un aire más deportivo.</p>
      <a href="#" class="standard-link link-reserva">Reserva</a>
    </div>
    <div class="img-container" style="background-image: url( {{ asset( 'images/new/new-product-2.jpg' ) }} );"></div>
  </section>

  <section class="sn-container map-section">
    <div id="map"></div>
    <div class="info-contact">
      <h3 class="h4">Visítanos</h3>
      <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur itaque, inventore veniam praesentium voluptates maiores? Voluptas doloremque corrupti deserunt quidem minima perspiciatis cum mollitia quae? Debitis accusamus earum exercitationem dolore.</p>
      <ul>
        <li class="description">Ipsum dolor sit amet consectetur adipisicing elit</li>
        <li class="description">Aspernatur itaque</li>
        <li class="description">Voluptas doloremque corrupti</li>
      </ul>
    </div>
  </section>

  <section class="sn-container section-parallax" style="background-image: url( {{ asset( 'images/soccer-parallax.jpg' ) }} );">
    <p class="promocion">
      Promoción 15% mes de Octubre
    </p>
    <div class="overlay-parallax"></div>
  </section>

  <section  class="section-text-button">
    <div class="line-wrapper">
      <a class="link-text" href="#" style="cursor: url('{{ asset('/images/primary-button.png') }}'), pointer;">
        <p class="hmy-title h-h1-mod dark-blue line">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem illo iure impedit, possimus libero dolores quos quaerat ducimus voluptatem esse, doloribus eaque consequatur fuga. Nostrum, fugit. Recusandae, neque reprehenderit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat autem illo iure impedit, possimus libero dolores quos quaerat ducimus voluptatem esse, doloribus eaque consequatur fuga. Nostrum, fugit. Recusandae, neque reprehenderit.
        </p>
      </a>
    </div>
  </section>

  {% for pro_cat in products_categories %}
  <section class="sn-container show-productos container-products-{{ pro_cat.cantidad }}">
    <h2 class="h2">{{ pro_cat.nombre }}</h2>

    <div class="swiper swiper-home-product">
      <div class="swiper-wrapper wrapper-home-products">
        {% for product in products %}
          {% if product.id_cat_id == pro_cat.id %}
            <div class="swiper-slide slide-home-products" >
              <a class="link-product" href="/productos/{{ product.id }}">
              {# {{ product.nombre }} #}
                <img class="single-img" src="{{ asset( product[0][0]['url'] ) }}">
              </a>
            </div>
          {% endif %}
        {% endfor %}  
      </div>
      
      {# <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> #}

    </div>
  </section>
  {% endfor %}

{% endblock %}
