{% extends 'base.html.twig' %}

{% block title %}Sneakers{% endblock %}

{% block body %}

  {% set vars = {'var_session': session_started, 'carrito': 'Variable carrito' } %}
  {% include 'menu/index.html.twig' with vars %}

  <section class="section-hero">
    <div class="swiper swiper-hero">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper wrapper-hero">
        <div class="swiper-slide slide-hero"><img class="slider-img" src="{{ asset( 'images/products/image-product-1.jpg' ) }}" alt="Imagen1"></div>
        <div class="swiper-slide slide-hero"><img class="slider-img" src="{{ asset( 'images/products/image-product-2.jpg' ) }}" alt="Imagen2"></div>
        <div class="swiper-slide slide-hero"><img class="slider-img" src="{{ asset( 'images/products/image-product-3.jpg' ) }}" alt="Imagen3"></div>
        <div class="swiper-slide slide-hero"><img class="slider-img" src="{{ asset( 'images/products/image-product-4.jpg' ) }}" alt="Imagen4"></div>
      </div>
      <!-- If we need navigation buttons -->
      <div class="arrow-container">
        <div class="swiper-button-prev"><img class="img-prev" src="{{ asset('images/icon-previous.svg') }}" alt="Prev imagen"></div>
        <div class="swiper-button-next"><img class="img-next" src="{{ asset('images/icon-next.svg') }}" alt="Prev imagen"></div>
        <a class="anchor" data-content="go-to-content">
          <img class="img-go-down" src="{{ asset('images/go-down.svg') }}" alt="Ancla">
        </a>
      </div>

    </div>
    <div id="go-to-content"></div>    
  </section>

  {% for pro_cat in products_categories %}
  <section class="sn-container show-productos container-products-{{ pro_cat.cantidad }}">
    <h2 class="h2">{{ pro_cat.nombre }}</h2>

    <div class="swiper swiper-home-product">
      <div class="swiper-wrapper wrapper-home-products">
        {% for product in products %}
          {% if product.id_cat_id == pro_cat.id %}
            <div class="swiper-slide slide-home-products" >
              <a class="link-product" href="/productos/{{ product.id }}">
              {# {{ product.nombre }} #}
                <img class="single-img" src="{{ asset( product[0][0]['url'] ) }}">
              </a>
            </div>
          {% endif %}
        {% endfor %}  
      </div>
      
      {# <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div> #}

    </div>
  </section>
  {% endfor %}

  <h3>Formulario de registro</h3>
  {{ form(registration_form)}}

{% endblock %}
