
<header class="sn-container menu-section">
  <nav class="main-navigation">

    <div class="left-side-menu">
      <div class="menu-burger" id="open-menu-mobile">
        <img src="{{ asset( 'images/icon-menu.svg' ) }}" alt="Icon menu">
      </div>
      <a href="{{ url('app_homepage') }}">
        <img class="img-title" src="{{ asset( 'images/logo.svg' ) }}" alt="Logo">
      </a>
      <ul class="menu-links">
        <li><a href="#" class="single-link" >zapatillas</a></li>
        <li><a href="#" class="single-link" >About</a></li>
        <li><a href="#" class="single-link" >Contact</a></li>
      </ul>
    </div>
    <div class="right-side-menu">
      {% if session_started %}
        <a href="{{ url('app_cart') }}" class="cart-link">
          <div class="cart-icon-container">
            <span class="icon-cart" style="background-image:url('{{ asset('images/icon-cart.svg') }}')"></span>
            {% if cart_empty %}
              <span class="quantity">{{ quantity_products }}</span>
            {% endif %}
          </div>
        </a>
      {% endif %}
  
      {% if session_started %}
        <div class="user-link-photo">
          <img class="icon-user-photo" src="{{ asset('images/image-avatar.png') }}">
          <div class="close-session">
            <a class="link-logout" href="{{ url('app_logout') }}">Cerrar sesión.</a>
          </div>
        </div>
      {% endif %}
      {% if session_started == false %}
        <a href="{{ url('app_login') }}" class="user-link">
          <span class="icon-user" style="background-image:url('{{ asset('images/icon-user.svg') }}')"></span>
        </a>
      {% endif %}
    </div>

  </nav>
  <div class="menu-mobile">
    <div class="content-menu-mobile">
      <img class="close-icon" id="close-menu-mobile" src="{{ asset( 'images/icon-close.svg' ) }}" alt="">
      <ul class="links-mobile">
        <li><a href="#" class="single-link" >zapatillas</a></li>
        <li><a href="#" class="single-link" >About</a></li>
        <li><a href="#" class="single-link" >Contact</a></li>
      </ul>
    </div>
  </div>
</header>

